body {
    background-color: #282c34;
    color: white;
    font-family: "Comic Sans MS", serif;
}

body a {
    color: white;
}

body a:hover {
    color: #5cb85c;
}

.top-nav-link {
    color: #282c34 !important;
}

.top-nav-link:hover {
    color: 	black !important;
}

.user-nav-link:active, .user-nav-link:focus {
    color: #5cb85c;
    background-color: #5cb85c;
}

.top-navigation-container {
    font-size: 17px;
    padding-top: 5px;
    color: white !important;
    background-color: #5cb85c;
}

.icon-home {
    font-size: 25px;
    color: #282c34;
}
