.icon-offer-manage {
    font-size: 15px;
    color: white;
    background-color:  #343a40;
    border-color:  #282c34;
}

.icon-offer-manage:hover {
    color: #5cb85c;
}

.icon-offer-box {
    width: 180px;
}

.offer-pic {
    height: 130px;
    width: 180px;
}

.container-offer {
    margin: 10px;
}

.icon-add {
    width:40px;
    height: 40px;
    border-radius: 50%;
    border-color: #343a40;
    padding: 0.5em 0.6em;
    background-color: #343a40;
}