.tableOfReservations {
    color: #282c34;
    background-color: #818182;
}

.tableOfReservations tbody tr:hover {
    background-color:  #c8c9c9;
}

.tableExpandRow {
    border-color: #818182;
    color : #e2e3e5;
}
